# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.

# Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on All Time Olympic Games Medals, and does some basic data cleaning.

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import os, pandas as pd

# Change the cwd
os.chdir('/Users/riro/Documents/GitHub/umich_ds/intro to data science/files')

In [3]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

# Question 0 (Example)

What is the first country in df?

This function should return a Series.

In [410]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Points              2
Name: Afghanistan, dtype: object

# Question 1

Which country has the most gold medals in the summer games?

This function should return a single string value.

In [411]:
def answer_one():
    return df['Gold'].sort_values(ascending=False).index[0]

answer_one()

'United States'

# Question 2

Which country had the biggest difference between their summer and winter gold medal counts?

This function should return a single string value.

In [412]:
def answer_two():

    return (df['Gold'] - df['Gold.1']).sort_values(ascending=False).index[0]

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [413]:
df_both_gold = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
df_both_gold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Points
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,919
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,488
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR,149
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,273
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,408
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,794
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,1101
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO,66
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE,126
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,312
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST,76
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,838
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,1453
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,1493
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,EUA,264
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,1033
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,446
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,1562
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,1290
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,848
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59,KAZ,110
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,599
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,692
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,885
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,513
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,1007
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,2467
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,279
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK,57
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO,47
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,267
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,1163
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,582
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR,216
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,5600
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB,38

In [414]:
def answer_three():

    df_both_gold = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]

    s = (df_both_gold['Gold'] - df_both_gold['Gold.1'])/(df_both_gold['Gold'] + df_both_gold['Gold.1'])
    return s.sort_values(ascending = True).index[-1]

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

    *This function should return a Series named `Points` of length 146*

In [416]:
def answer_four():
    df['Points'] = df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'] * 1
    return df['Points']

answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [11]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [300]:
def answer_five():

    # Create a filter for the state level
    census_df_copy = census_df[census_df['SUMLEV'] == 50]

    # Create an index based on state names
    census_df_copy = census_df_copy.set_index(['STNAME'])

    # Count the number of unique counties using value_counts() and return the string at index 0 
    return census_df_copy.index.value_counts().index[0]

answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [306]:
def answer_six():
    lst = []
    census_df_copy = census_df[census_df['SUMLEV'] == 50]
    census_df_copy = census_df_copy.set_index(['STNAME'])

    state_df = pd.DataFrame()

    # get the unique state names
    state_df['State'] = census_df_copy.index.unique()

    # initialise all populations to 0
    state_df['Top3Pop'] = 0

    # set the index to the states
    state_df.set_index('State', inplace = True)

    # loop over all the states in state_df
    for state in state_df.index:
        county_pop = census_df_copy['CENSUS2010POP'][state]

        # check if county_pop has more tha one number, needed for states with one county only
        if (type(county_pop)) == pd.Series:
            stsum = sum(county_pop.sort_values(ascending = False)[:3])
        else:
            stsum = county_pop
        
        # set the 'Top3Pop' value to the sum of the top 3 most populous counties
        state_df['Top3Pop'].loc[state] = stsum

    for state in state_df.sort_values(by = 'Top3Pop', ascending = False).index[:3]:
        lst.append(state)
    
    return lst

answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [375]:
def answer_seven():
    county_df = pd.DataFrame()

    columns = ['CTYNAME', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2014', 'POPESTIMATE2015']

    # Create a county database with populatuion estimates, with index set to CTYNAME
    census_df_copy = census_df[census_df['SUMLEV'] == 50]
    county_df = census_df_copy[columns]
    county_df.set_index('CTYNAME', inplace=True)

    county_df['PopDiff'] = None

    for i in range(len(county_df.index)):
        max = county_df.iloc[i].max()
        min = county_df.iloc[i].min()
        county_df['PopDiff'].iloc[i] = max - min

    return county_df.sort_values(by = 'PopDiff', ascending=False).index[0]

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [407]:
def answer_eight():
    region_df = pd.DataFrame()

    census_df_copy = census_df[census_df['SUMLEV'] == 50]

    region_df = census_df_copy[   ((census_df_copy['REGION'] == 1) | (census_df_copy['REGION'] == 2)) & 
            (census_df_copy['POPESTIMATE2015'] > census_df_copy['POPESTIMATE2014']) &
            (census_df_copy['CTYNAME'].str.startswith('Washington'))]
        
    return region_df[['STNAME', 'CTYNAME']]

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County